{% extends 'article/base.html' %}
{% load static %}
{% block content %}


    <div class=" container_widget">
   <div class="sub_contain">
    <div class="widget_dash">artcile suggestion</div>
    <div class="widget_dash">followers</div>
    <div class="widget_dash">dataviz de connexion</div>
        </div>

    <div class="sub_contain">
    <div class="widget_dash">recherche d'article</div>
    <div class="widget_dash">dataviz de publicaiton d'article</div>
    <div class="widget_dash">dataviz dernier news sur sujet de predilesction</div>
        </div>
    </div>




{% endblock %}