{% extends 'article/base.html' %}
{% load static %}
{% block content %}


    <section class="log_sec">
        <form action="" method="POST">
            <h1>Connexion</h1>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="text" name="username" required>
                <label for="">Nom utilisateur</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" name="password" required>
                <label for="">Mots de passe</label>
            </div>
            <div class="forget">
                <label for=""><input type="checkbox">Se souvenir de moi <a href="#">Forget Password</a></label>
            </div>
            {% csrf_token %}
            <button type="submit">Log in</button>
            <div class="register">
                <p>Don't have a account <a href="{% url 'signup' %}">Register</a></p>
            </div>
        </form>
    </section>





{% endblock %}