{% extends 'article/base.html' %}
{% load static %}
{% block content %}


    {% if messages %}

<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message  }}</li>
    {% endfor %}

    {% endif %}
    </ul>

    {{error_user}}

   <section class="log_sec">
        <form action="" method="POST"  enctype="multipart/form-data">
            <h1>Inscription</h1>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>

                {{ form.username }}
                <label for="">Pseudo</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                {{ form.mail }}
                <label for="">Email</label>
            </div>

             <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                {{ form.password1 }}
                <label for="">Mots de passe </label>
            </div>
             <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
               {{ form.password2 }}
                <label for="">Confirmer mots de passe</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                {{ form.job }}
                <label for="">Ton job ou situation</label>
            </div>
            {{form.image}}
            <br>
            <br>
            {% csrf_token %}
            <button type="submit" >Sign up</button>
            <div class="register">
                <p>Deja un compte<a href="{% url 'login' %}">Connexion</a></p>
            </div>
        </form>
    </section>





{% endblock %}