*{
    box-shadow: 0 0 0 3px red
    inset;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background: black;
}

/* ------------------------------Parti profile/salon/Dash -------------------------------*/

.container_widget{
    height: 100vh;
    width: 100vw;
    background: yellowgreen;
    margin-bottom: 0;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}
.sub_contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.widget_dash{

    border: solid 3px red;
    height: 20vh;
    width: 20vw;

}


/* ------------------------------Parti login -------------------------------*/
.log_sec {
    max-width: 400px;
    background-color: #1c1111;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(165px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 3rem;
    margin:50px auto ;
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 54%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in;
}

input:focus ~ label,
input:valid ~ label {
    top: -10px;
}

.inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 2-0px;
}

.forget {
    margin: 35px 0;
    font-size: 0.9rem;
    color: #fff;
    display: flex;
    justify-content: center;
}

.forget label input {
    margin-right: 3px;
}

.forget label a {
    color: #fff;
    text-decoration: none;
}

.forget label a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

.register {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

/* ------------------------------Parti create Form -------------------------------*/

.form_for_admin {
    margin: 100px 100px 0 200px;

    background: red;
    position: absolute;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cont_for_admin {
    position: static;
    background: blue;
    width: 100%;
    height: 950px;

}

/* ------------------------------Parti card in index website -------------------------------*/
.titre-card {
    font-size: 45px;
    color: White;
    margin-left: 30px;
    padding-bottom: 30px;

}


/* button animation more Article */
/* CSS */
.button-19 {

    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 1% 0 0 46.5%;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 220px;
    height: 70px;
}

.button-19:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-19:main,
.button-19:focus {
    user-select: auto;
}

.button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button-19:disabled {
    cursor: auto;
}

/* ------------------------------Part carrousel index website -------------------------------*/
.container-section {
    background: black;
    height: 100vh;
    width: 100vw;

}


.slider-1 {
    max-width: 100vw;
    height: 600px;
    margin: 75px;
    overflow: hidden;

    padding-top: 50px;

}

.slider-1 .slider {
    animation: slider-1 12s infinite ease-in-out;
    display: flex;
    height: 600px;

    /* Si on veut faire glisser vers la droite */
    /* Il faut aussi changer l'animation(transform) en valeurs positives */
    /* flex-direction: row-reverse; */
}

.slider-1 p {
    background: #000;
    flex-shrink: 0;
    padding: 72px 0;
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: #f1f1f1;
}


@keyframes slider-1 {
    0%,
    20% {
        transform: translateX(0);
    }
    25%,
    45% {
        transform: translateX(-100%);
    }
    50%,
    70% {
        transform: translateX(-200%);
    }
    75%,
    95% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-400%);
    }
}

/* ------------------------------Parti navBar for all website -------------------------------*/

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.container {
    max-width: 85vw;
    width: 100vw;
    margin: auto;
}

.navbar {

    position: static;
    width: 100vw;
    height: 86px;
    background: #fff;
    color: #000;

    z-index: 100;


}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;

}

.menu-items {
    order: 2;
    display: flex;
    padding-top: 15px;
}

.logo {
    order: 1;
    font-size: 2.3rem;
    margin-top: 18px;
    width: 65px;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a {
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #117964;
}


/* section card */


h5 {
    margin: 0px;
    font-size: 1.4em;
    font-weight: 700;
}

.property-description p {
    font-size: 12px;
}

.center {

    width: 100vw;

    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-around;

}

.property-card {
    height: 40vh;
    width: 30vw;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    overflow: hidden;

}

.property-image {
    height: 30vh;
    width: 40vw;
    padding: 1em 2em;
    position: Absolute;
    top: 0px;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image: url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.property-description {
    background-color: #FAFAFC;
    overflow: scroll;
    height: 12vh;
    width: 30vw;
    position: absolute;
    bottom: 0em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 10px;
    text-align: center;
}

.property-social-icons {
    width: 1vh;
    height: 1vh;
    background-color: black;
    position: absolute;
    bottom: 1em;
    left: 1em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.property-card:hover .property-description {
    height: 40vh;
    overflow: scroll;
    padding: 12px;
}

.property-card:hover .property-image {
    height: 18vh;
}

.property-card:hover .property-social-icons {
    background-color: white;
}

.property-card:hover .property-social-icons:hover {
    background-color: blue;
    cursor: pointer;
}

/*footer*/
.footer {
    background: #363232;
    width: 100vw;
    padding: 20px 0 10px  0;
    font-family: 'Play', sans-serif;
    text-align: center;
    color: black;
    margin: 90px 0 0 0;
    position: relative;
    bottom:0 ;

}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 1.2em;
}

.footer .row ul {

    font-size: 19px;
}


.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 6em;
    margin: 0% 1%;
}


@media (max-width: 768px) {
    body {
        background: black;

    }

    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;

        overflow: scroll;
    }

    .navbar .menu-items li {
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: -10px;
        right: 15px;
        font-size: 2.5rem;

    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    h5 {
        margin: 0px;
        font-size: 1.4em;
        font-weight: 700;
    }

    .property-description p {
        font-size: 12px;
    }

    .center {
        align-items: center;
        width: 100vw;
        padding: 0px 200px 10px 200px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    /* End Non-Essential  */
    .property-card {
        height: 40vh;
        width: 70vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 16px;
        overflow: hidden;
        margin: 30px 30px 30px 30px;

    }

    /* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */
    /* Top Half of card, image. */
    .property-image {
        height: 30vh;
        width: 70vw;
        padding: 1em 2em;
        position: Absolute;
        top: 0px;
        -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        background-image: url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* Bottom Card Section */
    .property-description {
        background-color: #FAFAFC;
        overflow: hidden;
        height: 12vh;
        width: 70vw;
        position: absolute;
        bottom: 0em;
        -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        padding: 1em 1em;
        text-align: center;
    }

    /* Social Icons */
    /* Property Cards Hover States */
    .property-card:hover .property-description {
        height: 40vh;
        overflow: scroll;
        padding: 7px 1em;
    }

    .property-card:hover .property-image {
        height: 18vh;
    }

    .property-card:hover .property-social-icons {
        background-color: white;
    }

    .property-card:hover .property-social-icons:hover {
        background-color: blue;
        cursor: pointer;
    }

    .footer {
        margin: 500px 0 0 0;

    }

    .row ul {
        font-size: 23px;
    }

    .button-19 {

        background-color: #1899D6;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: din-round, sans-serif;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: .8px;
        line-height: 20px;
        outline: none;
        overflow: visible;
        padding: 13px 16px;
        text-align: center;
        align-items: center;
        text-transform: uppercase;
        touch-action: manipulation;
        transform: translateZ(0);
        transition: filter .2s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width: 180px;
        height: 70px;
        margin: 0 0 0 35%;

    }

    .button-19:after {
        background-clip: padding-box;
        background-color: #1CB0F6;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        bottom: -4px;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    .button-19:main,
    .button-19:focus {
        user-select: auto;
    }

    .button-19:hover:not(:disabled) {
        filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
    }

    .button-19:disabled {
        cursor: auto;
    }


}

@media (max-width: 500px) {
    .navbar-container input[type="checkbox"]:checked ~ .logo {
        display: none;
    }
}


